@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.animate-scroll {
    animation: scroll 50s linear infinite;
}

html {
    scroll-behavior: smooth;
}
